.DS_Store
.dart_tool/

.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

migrate_working_dir/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
#.android/
#.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication related
app.*.symbols

# Obfuscation related
# ios
app.*.map.json
.android/local.properties
.ios/Flutter/Generated.xcconfig
.ios/Flutter/flutter_export_environment.sh
.ios/Runner.xcodeproj/project.pbxproj
.ios/Runner.xcodeproj
*.hmap
.ios/Pods
.ios/symlinks/plugins
.ios/symlinks/
.ios/Flutter
# android
.android/plugins_build_output
.android/gradle
.android/.gradle
.dart_tool
/.android/local.properties

/.vscode/

## User settings
xcuserdata/


## App packaging
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspace
*.xcuserstate
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.iml

pubspec.lock

